
@{
    ViewBag.Title = "SavedPosting";
}

<h2>SavedPosting</h2>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $(document).ready(function () {

        count = Cookies.get("Count");
        for (var i = 1; i <= count; i++) {
            var postingValue = localStorage.getItem("Posting" + i.toString());
            //var postingObj = JSON.parse(postingValue);
            console.log(postingValue);
            console.log(i);
        }

    });
</script>